<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GhazwulShaf</title>
    <script type="importmap"></script>

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GhazwulShaf.styles.css" asp-append-version="true" />
</head>

<body class="relative min-h-screen pb-[78px]">

    <header class="sticky top-0 z-50 transition-spacing duration-500 bg-white">
        <div id="nav-wrapper" class="relative w-full h-full px-4 sm:px-12 lg:px-24 2xl:px-48 py-12 has-[sticky]:py-4">
            <nav class="flex justify-between xl:justify-start gap-8 ">

                <a id="brand" asp-controller="Home"- asp-action="Index" class="text-2xl sm:text-3xl font-bold">
                    <span>GhazwulShaf</span>
                </a>

                <button id="nav-menu-button" class="block md:hidden"><i data-feather="menu"></i></button>

                <div id="nav-menu" class="absolute top-full left-0 md:relative w-full md:w-fit hidden md:flex flex-col md:flex-row items-stretch md:items-end md:gap-8 font-semibold md:text-lg xl:text-xl *:px-4 *:sm:px-12 *:py-4 *:md:p-0">
                    <a asp-controller="About" asp-action="Index" class="bg-white">About</a>
                    <a asp-controller="Projects" asp-action="Index" class="bg-white">Projects</a>
                    <a asp-controller="Contact" asp-action="Index" class="bg-white">Contact</a>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="z-40">
        @RenderBody()
    </main>

    <footer class="absolute bottom-0 w-full whitespace-nowrap leading-[60px] px-4 sm:px-12 lg:px-24 2xl:px-48 py-2 bg-neutral-200">
        <partial name="Layout/_Footer"></partial>
    </footer>

    <script>

        // Sizing Header on sticky
        document.addEventListener('scroll', () => {

            const header = document.querySelector("header");
            const headerHeight = header.offsetHeight;

            const headerNav = document.querySelector('#nav-wrapper');
            if (header.offsetTop > headerHeight)
            {
                headerNav.classList.replace('py-12', 'py-4');
            }
            else
            {
                headerNav.classList.replace('py-4', 'py-12');
            }
        })

        const navMenuButton = document.querySelector('#nav-menu-button');
        const navMenu = document.querySelector('#nav-menu');
        let navMenuState = "hidden";

        navMenuButton.addEventListener('click', () => {
            if (navMenuState == "hidden") {
                navMenu.classList.replace('hidden', 'flex');
                navMenuState = "show";
            } else if (navMenuState == "show") {
                navMenu.classList.replace('flex', 'hidden');
                navMenuState = "hidden";
            }
        })

    </script>

    <!-- Feather Icons -->
    <script src="~/lib/feathericons\dist\js\feather.min.js"></script>
    <script>
        feather.replace();
    </script>

    <!-- Bootstrap CSS
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
