.content::before {
    position: absolute;
    display: block;
    content: '';
    top: -40px;
    right: 0;
    width: 720px;
    height: 480px;
    background-image: url(/src/assets/undraw_coding.svg);
    background-repeat: no-repeat;
    background-size: 720px;
    /* background-position: 500px 0; */
}

.content__text {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 360px;
}

.text__title {
    text-transform: uppercase;
}

.content__form {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__email {
    width: 360px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form__submit {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}