@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="[&>section]:px-4 [&>section]:sm:px-12 [&>section]:lg:px-24 [&>section]:2xl:px-48">

    <section id="welcome" class="text-center pt-6 sm:pt-12 lg:pt-36 pb-24 lg:pb-60">
        <div><code class="text-4xl sm:text-5xl lg:text-6xl font-bold">Hi, I'm Ghazwul Shaf</code></div>
        <div class="mt-4"><code class="text-lg sm:text-xl lg:text-2xl text-gray-500">A passionate .NET Developer, Internet of Things, and Artificial Intelligence</code></div>
        <div class="flex flex-col sm:flex-row sm:justify-center gap-4 mt-16">
            <a class="btn btn-dark" asp-controller="Projects" asp-action="Index">View Projects</a>
            <a class="btn btn-light" asp-controller="Contact" asp-action="Index">Contact Me</a>
        </div>
    </section>

    <section id="about" class="text-center sm:text-left px-4 sm:px-12 lg:px-24 2xl:px-48 py-12 sm:py-24 bg-neutral-200">
        <div class="max-w-[960px]">
            <h1 class="font-body">About Me</h1>
            <p class="mt-4 sm:mt-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore officiis adipisci maiores at fuga molestiae vero ipsam commodi iusto a quos aspernatur excepturi, deleniti, libero, ad amet non placeat magni.
            Repellendus, explicabo. Sint, recusandae! Voluptatum atque magni autem omnis quam quos, minus perferendis expedita, consectetur sint ad rem ea veniam dolor! Aliquid nobis harum ab fuga doloremque rem magni id.</p>
        </div>
    </section>

    <section id="projects" class="text-center sm:text-left pt-12 sm:pt-24 pb-24 sm:pb-48">
        <div>
            <h1>My Projects</h1>
            <!-- Projects lists -->
            <div class="mt-12 grid grid-cols-1 lg:grid-cols-3 gap-4">
            @for (int i = 0; i < 3; i++)
            {
                <div class="card">
                    <h5>Project @i</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam distinctio ut ratione dolore quasi suscipit, quidem eos tenetur nihil hic? Accusamus eaque, consequuntur ullam nostrum inventore numquam debitis nemo modi!</p>
                </div>
            }
            </div>
        </div>
    </section>

</div>