@tailwind base;
@tailwind components;
@tailwind utilities;

/****************************
** Fonts
****************************/

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf)
}
@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

/****************************
** Base
****************************/

@layer base {
    * {
        @apply box-border;
    }
    html {
        @apply font-manrope text-sm sm:text-base 2xl:text-lg;
    }
    h1 {
        @apply text-3xl sm:text-4xl lg:text-5xl font-bold;
    }
    h2 {
        @apply text-2xl sm:text-3xl lg:text-4xl font-bold;
    }
    h3 {
        @apply text-xl sm:text-2xl lg:text-3xl font-bold;
    }
    h4 {
        @apply text-lg sm:text-xl lg:text-2xl font-semibold;
    }
    h5 {
        @apply text-base sm:text-lg lg:text-xl font-semibold;
    }
    h6 {
        @apply text-base lg:text-lg font-semibold;
    }
}

@layer components {

    .card {
        @apply p-4 border bg-white text-black border-neutral-200 rounded-md shadow;
    }
    .card .card-title {
        @apply text-lg font-semibold;
    }
    .card .card-subtitle {
        @apply text-gray-500 text-sm;
    }
    .card .card-body {
        @apply [&>p]:mt-2;
    }

    .tag {
        @apply text-sm p-2 rounded bg-gray-200;
    }

    button.disabled {
        @apply cursor-not-allowed text-gray-500;
    }
    .button {
        @apply inline-flex justify-center items-center px-8 py-2 rounded-md;
    }
    .button.disabled {
        @apply bg-gray-400 text-gray-800;
    }
    .button-primary {
        @apply bg-blue-500 text-white;
    }
    .button-secondary {
        @apply bg-neutral-600 text-white;
    }
    .button-info {
        @apply bg-sky-500 text-black;
    }
    .button-success {
        @apply bg-green-600 text-white;
    }
    .button-warning {
        @apply bg-yellow-500 text-black;
    }
    .button-danger {
        @apply bg-red-600 text-white;
    }
    .button-dark {
        @apply bg-black text-white;
    }
    .button-light {
        @apply bg-white text-black border border-gray-500;
    }

    .label {
        @apply block text-sm sm:text-base font-medium mb-1;
    }
    .input {
        @apply w-full bg-white text-black text-sm sm:text-base px-4 py-2 border border-gray-200 rounded-md focus:caret-black focus:ring-black;
    }
    #dashboard-layout .input {
        @apply px-2 py-1 rounded-sm;
    }
    .input::placeholder {
        @apply text-gray-500 font-normal;
    }
    .input-search {
        @apply bg-white text-gray-500 px-4 py-2 border-none rounded-md shadow focus:caret-gray-500 focus:ring-gray-500;
    }
    .input-search::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
    .input-search::placeholder {
        @apply text-gray-400;
    }

    .pagination {
        @apply flex flex-row justify-center gap-1 sm:gap-2;
    }
    .pagination-item {
        @apply bg-gray-200 text-black hover:bg-black hover:text-white disabled:text-gray-500 disabled:hover:bg-gray-200 disabled:hover:text-gray-500 rounded-md px-3 sm:px-4 py-2;
    }
    .pagination-item.active {
        @apply bg-black text-white;
    }
}


/****************************
** Summernote
****************************/

.note-editor i {
    @apply text-xs sm:text-sm;
}
.note-editor.fullscreen .note-editing-area {
    @apply bg-white;
}


/****************************
** Home (Index)
****************************/

#home .btn {
    @apply inline-flex items-center justify-center font-semibold px-6 sm:px-8 py-2 sm:py-4 rounded;
}

#home .btn-dark {
    @apply bg-black text-white border border-black;
}

#home .btn-light {
    @apply bg-white text-black border border-black;
}


/****************************
** Home Projects
****************************/

.project_types-item {
    @apply transition-colors delay-75 ease-in bg-white hover:bg-black text-black hover:text-white rounded-md shadow px-4 py-2;
}
.project_types-item.current {
    @apply bg-black text-white;
}


/****************************
** Dashboard Layout
****************************/

#dashboard-layout nav a:hover {
    @apply bg-gray-900;
}
#dashboard-layout nav a.active {
    @apply bg-gray-900;
}


/****************************
** Dashboard About
****************************/

.btn-order.disable {
    @apply text-gray-400 hover:text-gray-400;
}